USE [master]
GO
/****** Object:  Database [QuanLyDiemSV_K235480106064]    Script Date: 5/3/2026 2:42:03 PM ******/
CREATE DATABASE [QuanLyDiemSV_K235480106064]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyDiemSV_K235480106064', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QuanLyDiemSV_K235480106064.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLyDiemSV_K235480106064_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QuanLyDiemSV_K235480106064_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyDiemSV_K235480106064].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyDiemSV_K235480106064]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_BangDiemTongHop]    Script Date: 5/3/2026 2:42:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_BangDiemTongHop] ()
RETURNS @KQ TABLE
(
    MaSinhVien INT,
    HoTen NVARCHAR(100),
    DiemTB FLOAT,
    XepLoai NVARCHAR(20)
)
AS
BEGIN
    INSERT INTO @KQ
    SELECT 
        sv.[MaSinhVien],
        sv.[HoTen],
        AVG(d.[DiemThi]),
        dbo.fn_XepLoai(AVG(d.[DiemThi]))
    FROM [SinhVien] sv
    JOIN [Diem] d ON sv.[MaSinhVien] = d.[MaSinhVien]
    GROUP BY sv.[MaSinhVien], sv.[HoTen];

    RETURN;
END;
GO
/****** Object:  UserDefinedFunction [dbo].[fn_XepLoai]    Script Date: 5/3/2026 2:42:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_XepLoai] (@Diem FLOAT)
RETURNS NVARCHAR(20)
AS
BEGIN
    DECLARE @Loai NVARCHAR(20);

    IF @Diem >= 8
        SET @Loai = N'Giỏi';
    ELSE IF @Diem >= 6.5
        SET @Loai = N'Khá';
    ELSE IF @Diem >= 5
        SET @Loai = N'Trung bình';
    ELSE
        SET @Loai = N'Yếu';

    RETURN @Loai;
END;
GO
/****** Object:  Table [dbo].[SinhVien]    Script Date: 5/3/2026 2:42:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SinhVien](
	[MaSinhVien] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[NgaySinh] [date] NULL,
	[GioiTinh] [nvarchar](10) NULL,
	[DiaChi] [nvarchar](200) NULL,
	[DiemTB] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSinhVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Diem]    Script Date: 5/3/2026 2:42:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Diem](
	[MaDiem] [int] IDENTITY(1,1) NOT NULL,
	[MaSinhVien] [int] NULL,
	[MaMonHoc] [int] NULL,
	[DiemThi] [float] NULL,
	[NgayThi] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDiem] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_SinhVienDat]    Script Date: 5/3/2026 2:42:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_SinhVienDat] (@DiemMin FLOAT)
RETURNS TABLE
AS
RETURN
(
    SELECT sv.[MaSinhVien], sv.[HoTen], d.[DiemThi]
    FROM [SinhVien] sv
    JOIN [Diem] d ON sv.[MaSinhVien] = d.[MaSinhVien]
    WHERE d.[DiemThi] >= @DiemMin
);
GO
/****** Object:  Table [dbo].[MonHoc]    Script Date: 5/3/2026 2:42:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonHoc](
	[MaMonHoc] [int] IDENTITY(1,1) NOT NULL,
	[TenMonHoc] [nvarchar](100) NOT NULL,
	[SoTinChi] [int] NULL,
	[HocPhi] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaMonHoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Diem] ON 

INSERT [dbo].[Diem] ([MaDiem], [MaSinhVien], [MaMonHoc], [DiemThi], [NgayThi]) VALUES (1, 1, 2, 5, CAST(N'2025-10-12' AS Date))
INSERT [dbo].[Diem] ([MaDiem], [MaSinhVien], [MaMonHoc], [DiemThi], [NgayThi]) VALUES (2, 2, 3, 10, CAST(N'2025-10-12' AS Date))
INSERT [dbo].[Diem] ([MaDiem], [MaSinhVien], [MaMonHoc], [DiemThi], [NgayThi]) VALUES (3, 4, 1, 6, CAST(N'2025-10-12' AS Date))
SET IDENTITY_INSERT [dbo].[Diem] OFF
GO
SET IDENTITY_INSERT [dbo].[MonHoc] ON 

INSERT [dbo].[MonHoc] ([MaMonHoc], [TenMonHoc], [SoTinChi], [HocPhi]) VALUES (1, N'Lập Trình Python', 3, 500.0000)
INSERT [dbo].[MonHoc] ([MaMonHoc], [TenMonHoc], [SoTinChi], [HocPhi]) VALUES (2, N'Đồ Án Mạng', 1, 200.0000)
INSERT [dbo].[MonHoc] ([MaMonHoc], [TenMonHoc], [SoTinChi], [HocPhi]) VALUES (3, N'Cơ Sở Dữ Liệu', 2, 300.0000)
SET IDENTITY_INSERT [dbo].[MonHoc] OFF
GO
SET IDENTITY_INSERT [dbo].[SinhVien] ON 

INSERT [dbo].[SinhVien] ([MaSinhVien], [HoTen], [NgaySinh], [GioiTinh], [DiaChi], [DiemTB]) VALUES (1, N'Nguyễn Văn A', CAST(N'2005-10-10' AS Date), N'Nam', N'Thái Nguyên', 8.5)
INSERT [dbo].[SinhVien] ([MaSinhVien], [HoTen], [NgaySinh], [GioiTinh], [DiaChi], [DiemTB]) VALUES (2, N'Vi Hồng B', CAST(N'2005-12-01' AS Date), N'Nu', N'Hà Nội', 7)
INSERT [dbo].[SinhVien] ([MaSinhVien], [HoTen], [NgaySinh], [GioiTinh], [DiaChi], [DiemTB]) VALUES (3, N'Phan Văn C', CAST(N'2005-11-09' AS Date), N'Nam', N'Bắc Giang', 6)
SET IDENTITY_INSERT [dbo].[SinhVien] OFF
GO
ALTER TABLE [dbo].[Diem]  WITH CHECK ADD  CONSTRAINT [FK_Diem_MonHoc] FOREIGN KEY([MaMonHoc])
REFERENCES [dbo].[MonHoc] ([MaMonHoc])
GO
ALTER TABLE [dbo].[Diem] CHECK CONSTRAINT [FK_Diem_MonHoc]
GO
ALTER TABLE [dbo].[Diem]  WITH CHECK ADD  CONSTRAINT [FK_Diem_SinhVien] FOREIGN KEY([MaSinhVien])
REFERENCES [dbo].[SinhVien] ([MaSinhVien])
GO
ALTER TABLE [dbo].[Diem] CHECK CONSTRAINT [FK_Diem_SinhVien]
GO
ALTER TABLE [dbo].[Diem]  WITH CHECK ADD CHECK  (([DiemThi]>=(0) AND [DiemThi]<=(10)))
GO
ALTER TABLE [dbo].[MonHoc]  WITH CHECK ADD CHECK  (([SoTinChi]>(0)))
GO
/****** Object:  StoredProcedure [dbo].[sp_BangDiem]    Script Date: 5/3/2026 2:42:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_BangDiem]
AS
BEGIN
    SELECT 
        sv.[HoTen],
        mh.[TenMonHoc],
        d.[DiemThi]
    FROM [SinhVien] sv
    JOIN [Diem] d ON sv.[MaSinhVien] = d.[MaSinhVien]
    JOIN [MonHoc] mh ON d.[MaMonHoc] = mh.[MaMonHoc];
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ThemDiem]    Script Date: 5/3/2026 2:42:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ThemDiem]
    @MaSV INT,
    @MaMH INT,
    @Diem FLOAT
AS
BEGIN
    IF @Diem < 0 OR @Diem > 10
    BEGIN
        PRINT N'Điểm không hợp lệ';
        RETURN;
    END

    INSERT INTO [Diem]([MaSinhVien], [MaMonHoc], [DiemThi], [NgayThi])
    VALUES (@MaSV, @MaMH, @Diem, GETDATE());
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_TinhDiemTB]    Script Date: 5/3/2026 2:42:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_TinhDiemTB]
    @MaSV INT,
    @DiemTB FLOAT OUTPUT
AS
BEGIN
    SELECT @DiemTB = AVG([DiemThi])
    FROM [Diem]
    WHERE [MaSinhVien] = @MaSV;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_TinhDiemTrungBinh]    Script Date: 5/3/2026 2:42:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_TinhDiemTrungBinh]
    @MaSV INT,
    @DiemTrungBinh FLOAT OUTPUT
AS
BEGIN
    SELECT @DiemTrungBinh = AVG([DiemThi])
    FROM [Diem]
    WHERE [MaSinhVien] = @MaSV;
END;
DECLARE @TB FLOAT;
EXEC sp_TinhDiemTrungBinh 1, @TB OUTPUT;
SELECT @TB AS DiemTrungBinh;
GO
USE [master]
GO
