USE [master]
GO
/****** Object:  Database [QuanLyCamDo]    Script Date: 5/12/2026 11:51:17 PM ******/
CREATE DATABASE [QuanLyCamDo]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyCamDo', FILENAME = N'C:\Ổ D\SQL\LUUTRU2\QuanLyCamDo.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLyCamDo_log', FILENAME = N'C:\Ổ D\SQL\LUUTRU2\QuanLyCamDo_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyCamDo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyCamDo]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_CalcMoneyContract]    Script Date: 5/12/2026 11:51:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   FUNCTION [dbo].[fn_CalcMoneyContract]
(
    @ContractID INT, -- MaHD
    @TargetDate DATETIME
)
RETURNS DECIMAL(18, 2)
AS
BEGIN
    DECLARE @SoTienGoc DECIMAL(18, 2);
    DECLARE @NgayVay DATETIME, @Deadline1 DATETIME;
    DECLARE @TongNo DECIMAL(18, 2);
    -- Khai báo tên biến thống nhất
    DECLARE @LaiTrongHan FLOAT = 0.003; -- 0.3%/ngày
    DECLARE @LaiQuaHan FLOAT = 0.018;   -- 1.8%/ngày

    -- Lấy thông tin từ bảng HopDong
    SELECT 
        @SoTienGoc = SoTienVay, 
        @NgayVay = NgayVay, 
        @Deadline1 = Deadline1 
    FROM HopDong WHERE MaHD = @ContractID;

    IF @TargetDate < @NgayVay RETURN @SoTienGoc;

    -- TRƯỜNG HỢP 1: Trong hạn (Tính lãi đơn)
    IF @TargetDate <= @Deadline1
    BEGIN
        DECLARE @nTrongHan INT = DATEDIFF(DAY, @NgayVay, @TargetDate);
        SET @TongNo = @SoTienGoc * (1 + (@LaiTrongHan * @nTrongHan));
    END
    -- TRƯỜNG HỢP 2: Quá hạn (Dùng vòng lặp tính lãi kép)
    ELSE
    BEGIN
        -- Chốt số tiền tại mốc Deadline1 (Gốc + Lãi đơn tối đa)
        DECLARE @nMaxTrongHan INT = DATEDIFF(DAY, @NgayVay, @Deadline1);
        SET @TongNo = @SoTienGoc * (1 + (@LaiTrongHan * @nMaxTrongHan));

        -- Chạy vòng lặp tính lãi kép cho mỗi ngày quá hạn
        DECLARE @nQuaHan INT = DATEDIFF(DAY, @Deadline1, @TargetDate);
        DECLARE @i INT = 1;
        
        WHILE @i <= @nQuaHan
        BEGIN
            SET @TongNo = @TongNo * (1 + @LaiQuaHan);
            SET @i = @i + 1;
        END
    END

    RETURN CAST(@TongNo AS DECIMAL(18, 2));
END;
GO
/****** Object:  UserDefinedFunction [dbo].[fn_CalcMoneyTransaction]    Script Date: 5/12/2026 11:51:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   FUNCTION [dbo].[fn_CalcMoneyTransaction]
(
    @TransactionID INT, -- Chính là MaLog
    @TargetDate DATETIME
)
RETURNS DECIMAL(18, 2)
AS
BEGIN
    DECLARE @Amount DECIMAL(18, 2);

    SELECT @Amount = ISNULL(SUM(SoTienTra), 0)
    FROM LichSuThanhToan
    WHERE MaLog = @TransactionID 
      AND NgayTra <= @TargetDate;

    RETURN ISNULL(@Amount, 0);
END;
GO
/****** Object:  UserDefinedFunction [dbo].[fn_TinhNoXau]    Script Date: 5/12/2026 11:51:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   FUNCTION [dbo].[fn_TinhNoXau] (
    @Goc DECIMAL(18, 2),
    @NgayVay DATETIME,
    @NgayTinh DATETIME
)
RETURNS DECIMAL(18, 2)
AS
BEGIN
    DECLARE @SoNgay INT = DATEDIFF(DAY, @NgayVay, @NgayTinh);
    -- Công thức lãi kép: Gốc * (1 + Lãi suất)^Số ngày
    -- Giả sử lãi suất quá hạn là 0.05% mỗi ngày (0.0005)
    RETURN CAST(@Goc * POWER((1 + 0.0005), @SoNgay) AS DECIMAL(18, 2));
END;
GO
/****** Object:  UserDefinedFunction [dbo].[fn_TinhTongNoHienTai]    Script Date: 5/12/2026 11:51:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   FUNCTION [dbo].[fn_TinhTongNoHienTai]
(
    @SoTienVay DECIMAL(18,2),
    @NgayVay DATETIME,
    @Deadline1 DATETIME,
    @NgayTinh DATETIME
)
RETURNS DECIMAL(18,2)
AS
BEGIN
    DECLARE @TongNo DECIMAL(18,2);
    DECLARE @LaiSuatTrongHan FLOAT = 0.003; -- 0.3%/ngày (Lãi đơn)
    DECLARE @LaiSuatQuaHan FLOAT = 0.018;   -- 1.8%/ngày (Lãi kép)
    
    -- 1. Nếu ngày tính trước ngày vay (Dữ liệu lỗi)
    IF @NgayTinh < @NgayVay RETURN @SoTienVay;

    -- 2. Trường hợp TRONG HẠN (Từ ngày vay đến sát Deadline1)
    IF @NgayTinh <= @Deadline1
    BEGIN
        DECLARE @n1 INT = DATEDIFF(DAY, @NgayVay, @NgayTinh);
        SET @TongNo = @SoTienVay * (1 + (@LaiSuatTrongHan * @n1));
    END
    -- 3. Trường hợp QUÁ HẠN (Tính lãi kép từ sau Deadline1)
    ELSE
    BEGIN
        -- Tính tổng nợ tại mốc Deadline1 trước (Lãi đơn chốt tại hạn)
        DECLARE @nMaxTrongHan INT = DATEDIFF(DAY, @NgayVay, @Deadline1);
        DECLARE @GocTaiHan DECIMAL(18,2) = @SoTienVay * (1 + (@LaiSuatTrongHan * @nMaxTrongHan));
        
        -- Tính lãi kép từ ngày quá hạn đến nay
        DECLARE @nQuaHan INT = DATEDIFF(DAY, @Deadline1, @NgayTinh);
        SET @TongNo = @GocTaiHan * POWER(1 + @LaiSuatQuaHan, @nQuaHan);
    END

    RETURN CAST(@TongNo AS DECIMAL(18,2));
END;
GO
/****** Object:  Table [dbo].[HopDong]    Script Date: 5/12/2026 11:51:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HopDong](
	[MaHD] [int] IDENTITY(1,1) NOT NULL,
	[MaKH] [int] NOT NULL,
	[NgayVay] [date] NOT NULL,
	[SoTienVay] [decimal](18, 0) NOT NULL,
	[Deadline1] [date] NOT NULL,
	[Deadline2] [date] NOT NULL,
	[TrangThai] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 5/12/2026 11:51:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKH] [int] IDENTITY(1,1) NOT NULL,
	[TenKH] [nvarchar](100) NOT NULL,
	[SDT] [varchar](15) NOT NULL,
	[CCCD] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichSuThanhToan]    Script Date: 5/12/2026 11:51:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichSuThanhToan](
	[MaLog] [int] IDENTITY(1,1) NOT NULL,
	[MaHD] [int] NOT NULL,
	[NgayTra] [datetime] NOT NULL,
	[SoTienTra] [decimal](18, 0) NOT NULL,
	[NguoiThu] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLog] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiSan]    Script Date: 5/12/2026 11:51:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiSan](
	[MaTS] [int] IDENTITY(1,1) NOT NULL,
	[MaHD] [int] NOT NULL,
	[TenTS] [nvarchar](200) NOT NULL,
	[GiaTriDinhGia] [decimal](18, 0) NOT NULL,
	[TrangThaiTS] [nvarchar](50) NOT NULL,
	[IsSold] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[HopDong] ON 

INSERT [dbo].[HopDong] ([MaHD], [MaKH], [NgayVay], [SoTienVay], [Deadline1], [Deadline2], [TrangThai]) VALUES (1, 1, CAST(N'2026-05-12' AS Date), CAST(10000000 AS Decimal(18, 0)), CAST(N'2026-06-01' AS Date), CAST(N'2026-07-01' AS Date), N'Đang vay')
INSERT [dbo].[HopDong] ([MaHD], [MaKH], [NgayVay], [SoTienVay], [Deadline1], [Deadline2], [TrangThai]) VALUES (2, 2, CAST(N'2026-05-12' AS Date), CAST(10000000 AS Decimal(18, 0)), CAST(N'2026-06-01' AS Date), CAST(N'2026-07-01' AS Date), N'Đang trả góp')
INSERT [dbo].[HopDong] ([MaHD], [MaKH], [NgayVay], [SoTienVay], [Deadline1], [Deadline2], [TrangThai]) VALUES (3, 3, CAST(N'2026-05-12' AS Date), CAST(50000000 AS Decimal(18, 0)), CAST(N'2026-08-01' AS Date), CAST(N'2026-10-01' AS Date), N'Đang trả góp')
SET IDENTITY_INSERT [dbo].[HopDong] OFF
GO
SET IDENTITY_INSERT [dbo].[KhachHang] ON 

INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [SDT], [CCCD]) VALUES (1, N'Nguyễn Văn Abc', N'0912345678', N'001001001234')
INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [SDT], [CCCD]) VALUES (2, N'Chí Phèo', N'0123456789', N'0000000001')
INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [SDT], [CCCD]) VALUES (3, N'Thị Nở', N'0123456111', N'0989889889')
SET IDENTITY_INSERT [dbo].[KhachHang] OFF
GO
SET IDENTITY_INSERT [dbo].[LichSuThanhToan] ON 

INSERT [dbo].[LichSuThanhToan] ([MaLog], [MaHD], [NgayTra], [SoTienTra], [NguoiThu]) VALUES (1, 2, CAST(N'2026-05-12T22:52:43.397' AS DateTime), CAST(2000000 AS Decimal(18, 0)), N'Bá Kiến')
INSERT [dbo].[LichSuThanhToan] ([MaLog], [MaHD], [NgayTra], [SoTienTra], [NguoiThu]) VALUES (2, 1, CAST(N'2026-05-12T23:02:58.723' AS DateTime), CAST(5000000 AS Decimal(18, 0)), N'Nhân viên Thu')
INSERT [dbo].[LichSuThanhToan] ([MaLog], [MaHD], [NgayTra], [SoTienTra], [NguoiThu]) VALUES (3, 1, CAST(N'2026-05-12T23:03:24.160' AS DateTime), CAST(5000000 AS Decimal(18, 0)), N'Bá Kiến')
SET IDENTITY_INSERT [dbo].[LichSuThanhToan] OFF
GO
SET IDENTITY_INSERT [dbo].[TaiSan] ON 

INSERT [dbo].[TaiSan] ([MaTS], [MaHD], [TenTS], [GiaTriDinhGia], [TrangThaiTS], [IsSold]) VALUES (1, 1, N'Xe máy Honda', CAST(25000000 AS Decimal(18, 0)), N'Đã trả khách', 0)
INSERT [dbo].[TaiSan] ([MaTS], [MaHD], [TenTS], [GiaTriDinhGia], [TrangThaiTS], [IsSold]) VALUES (2, 1, N'Điện thoại iPhone 15', CAST(15000000 AS Decimal(18, 0)), N'Đã trả khách', 0)
INSERT [dbo].[TaiSan] ([MaTS], [MaHD], [TenTS], [GiaTriDinhGia], [TrangThaiTS], [IsSold]) VALUES (3, 2, N'1 Con Ngựa', CAST(25000000 AS Decimal(18, 0)), N'Đang cầm cố', 0)
SET IDENTITY_INSERT [dbo].[TaiSan] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__KhachHan__A955A0AA83458B0B]    Script Date: 5/12/2026 11:51:18 PM ******/
ALTER TABLE [dbo].[KhachHang] ADD UNIQUE NONCLUSTERED 
(
	[CCCD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HopDong] ADD  DEFAULT (getdate()) FOR [NgayVay]
GO
ALTER TABLE [dbo].[HopDong] ADD  DEFAULT (N'Đang vay') FOR [TrangThai]
GO
ALTER TABLE [dbo].[LichSuThanhToan] ADD  DEFAULT (getdate()) FOR [NgayTra]
GO
ALTER TABLE [dbo].[TaiSan] ADD  DEFAULT (N'Đang cầm cố') FOR [TrangThaiTS]
GO
ALTER TABLE [dbo].[TaiSan] ADD  DEFAULT ((0)) FOR [IsSold]
GO
ALTER TABLE [dbo].[HopDong]  WITH CHECK ADD  CONSTRAINT [FK_HopDong_KhachHang] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[HopDong] CHECK CONSTRAINT [FK_HopDong_KhachHang]
GO
ALTER TABLE [dbo].[LichSuThanhToan]  WITH CHECK ADD  CONSTRAINT [FK_LichSu_HopDong] FOREIGN KEY([MaHD])
REFERENCES [dbo].[HopDong] ([MaHD])
GO
ALTER TABLE [dbo].[LichSuThanhToan] CHECK CONSTRAINT [FK_LichSu_HopDong]
GO
ALTER TABLE [dbo].[TaiSan]  WITH CHECK ADD  CONSTRAINT [FK_TaiSan_HopDong] FOREIGN KEY([MaHD])
REFERENCES [dbo].[HopDong] ([MaHD])
GO
ALTER TABLE [dbo].[TaiSan] CHECK CONSTRAINT [FK_TaiSan_HopDong]
GO
ALTER TABLE [dbo].[HopDong]  WITH CHECK ADD  CONSTRAINT [CHK_HopDong_Deadline] CHECK  (([Deadline2]>[Deadline1] AND [Deadline1]>[NgayVay]))
GO
ALTER TABLE [dbo].[HopDong] CHECK CONSTRAINT [CHK_HopDong_Deadline]
GO
ALTER TABLE [dbo].[HopDong]  WITH CHECK ADD  CONSTRAINT [CHK_HopDong_TrangThai] CHECK  (([TrangThai]=N'Đã thanh lý' OR [TrangThai]=N'Đã thanh toán đủ' OR [TrangThai]=N'Đang trả góp' OR [TrangThai]=N'Quá hạn (nợ xấu)' OR [TrangThai]=N'Đang vay'))
GO
ALTER TABLE [dbo].[HopDong] CHECK CONSTRAINT [CHK_HopDong_TrangThai]
GO
ALTER TABLE [dbo].[LichSuThanhToan]  WITH CHECK ADD  CONSTRAINT [CHK_LichSu_SoTien] CHECK  (([SoTienTra]>(0)))
GO
ALTER TABLE [dbo].[LichSuThanhToan] CHECK CONSTRAINT [CHK_LichSu_SoTien]
GO
ALTER TABLE [dbo].[TaiSan]  WITH CHECK ADD  CONSTRAINT [CHK_TaiSan_TrangThai] CHECK  (([TrangThaiTS]=N'Đã bán thanh lý' OR [TrangThaiTS]=N'Đã trả khách' OR [TrangThaiTS]=N'Sẵn sàng thanh lý' OR [TrangThaiTS]=N'Đang cầm cố'))
GO
ALTER TABLE [dbo].[TaiSan] CHECK CONSTRAINT [CHK_TaiSan_TrangThai]
GO
/****** Object:  StoredProcedure [dbo].[sp_GiaHanHopDong]    Script Date: 5/12/2026 11:51:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_GiaHanHopDong]
    @MaHD INT,
    @NguoiThu NVARCHAR(50),
    @SoThangGiaHan INT -- Số tháng muốn dời Deadline
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRANSACTION;
    BEGIN TRY
        DECLARE @TargetDate DATETIME = GETDATE();

        -- 1. Tính toán số tiền lãi hiện tại (Sử dụng hàm đã có)
        -- Tiền lãi = Tổng nợ hiện tại - Tiền gốc vay ban đầu
        DECLARE @TongNoHienTai DECIMAL(18, 2) = dbo.fn_CalcMoneyContract(@MaHD, @TargetDate);
        DECLARE @TienGoc DECIMAL(18, 2) = (SELECT SoTienVay FROM HopDong WHERE MaHD = @MaHD);
        DECLARE @TienLaiPhaiTra DECIMAL(18, 2) = @TongNoHienTai - @TienGoc;

        IF @TienLaiPhaiTra <= 0
        BEGIN
            PRINT N'Hợp đồng này chưa phát sinh lãi hoặc đã trả hết lãi.';
            ROLLBACK TRANSACTION; RETURN;
        END

        -- 2. Ghi nhận việc trả lãi vào Lịch sử (Audit Log)
        INSERT INTO LichSuThanhToan (MaHD, NgayTra, SoTienTra, NguoiThu)
        VALUES (@MaHD, @TargetDate, @TienLaiPhaiTra, @NguoiThu);

        -- 3. Cập nhật Deadline mới và reset lại ngày vay để tính lãi kỳ mới (Tránh lãi kép)
        -- Deadline mới = Deadline cũ + số tháng gia hạn
        UPDATE HopDong
        SET 
            NgayVay = @TargetDate, -- Reset ngày tính lãi về hôm nay
            Deadline1 = DATEADD(MONTH, @SoThangGiaHan, Deadline1),
            Deadline2 = DATEADD(MONTH, @SoThangGiaHan, Deadline2),
            TrangThai = N'Đang vay' -- Chuyển về trạng thái bình thường nếu đang nợ xấu
        WHERE MaHD = @MaHD;

        SELECT N'THÀNH CÔNG' AS KetQua, 
               N'Đã thu lãi: ' + FORMAT(@TienLaiPhaiTra, 'N0') + N'đ. Deadline đã được dời thêm ' + CAST(@SoThangGiaHan AS NVARCHAR) + N' tháng.' AS ThongBao;

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        SELECT ERROR_MESSAGE() AS LoiHeThong;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_KhachThanhToan]    Script Date: 5/12/2026 11:51:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_KhachThanhToan]
    @MaHD INT,
    @SoTienTra DECIMAL(18, 2),
    @NguoiThu NVARCHAR(50)
AS
BEGIN
    -- Đảm bảo tính nhất quán dữ liệu (Nếu lỗi 1 lệnh thì hủy toàn bộ)
    SET NOCOUNT ON;
    BEGIN TRANSACTION;
    BEGIN TRY
        DECLARE @TargetDate DATETIME = GETDATE();

        -- 1. Tính toán nợ thực tế
        DECLARE @TongNoGocLai DECIMAL(18, 2) = dbo.fn_CalcMoneyContract(@MaHD, @TargetDate);
        DECLARE @DaTraTruoc DECIMAL(18, 2) = ISNULL((SELECT SUM(SoTienTra) FROM LichSuThanhToan WHERE MaHD = @MaHD), 0);
        DECLARE @DuNoHienTai DECIMAL(18, 2) = @TongNoGocLai - @DaTraTruoc;

        -- 2. Ghi log trả tiền
        INSERT INTO LichSuThanhToan (MaHD, NgayTra, SoTienTra, NguoiThu)
        VALUES (@MaHD, @TargetDate, @SoTienTra, @NguoiThu);

        -- 3. Xử lý logic trả hết hoặc trả một phần
        IF (@SoTienTra >= @DuNoHienTai)
        BEGIN
            UPDATE HopDong SET TrangThai = N'Đã thanh toán đủ' WHERE MaHD = @MaHD;
            UPDATE TaiSan SET TrangThaiTS = N'Đã trả khách', IsSold = 0 WHERE MaHD = @MaHD;
            
            SELECT N'KẾT QUẢ' AS Loai, N'THANH TOÁN ĐỦ' AS TrangThai, N'Trả lại toàn bộ đồ cho khách' AS HuongDan;
        END
        ELSE
        BEGIN
            UPDATE HopDong SET TrangThai = N'Đang trả góp' WHERE MaHD = @MaHD;
            
            SELECT N'KẾT QUẢ' AS Loai, N'TRẢ GÓP' AS TrangThai, 
                   N'Còn nợ: ' + FORMAT(@DuNoHienTai - @SoTienTra, 'N0') + ' VNĐ' AS HuongDan;
        END

        COMMIT TRANSACTION; -- Xác nhận lưu mọi thay đổi
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION; -- Nếu có lỗi (sai kiểu dữ liệu, mất kết nối...) thì hủy lệnh trả tiền để tránh sai sổ sách
        SELECT ERROR_MESSAGE() AS LoiHeThong;
    END CATCH
END;


SELECT 
    hd.MaHD, 
    hd.TrangThai AS TrangThaiHD, 
    ts.TenTS, 
    ts.TrangThaiTS AS TrangThaiDo,
    (dbo.fn_CalcMoneyContract(hd.MaHD, GETDATE()) - ISNULL((SELECT SUM(SoTienTra) FROM LichSuThanhToan WHERE MaHD = hd.MaHD), 0)) AS NoConLai
FROM HopDong hd
JOIN TaiSan ts ON hd.MaHD = ts.MaHD
WHERE hd.MaHD = 1; -- Thay bằng mã HD bạn vừa test

EXEC sp_KhachThanhToan @MaHD = 1, @SoTienTra = 5000000, @NguoiThu = N'BA';
GO
/****** Object:  StoredProcedure [dbo].[sp_KhachThanhToan_Chuan]    Script Date: 5/12/2026 11:51:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_KhachThanhToan_Chuan]
    @MaHD INT,
    @SoTienTra DECIMAL(18, 2),
    @NguoiThu NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRANSACTION;
    BEGIN TRY
        DECLARE @TargetDate DATETIME = GETDATE();

        -- 1. NGƯỜI GÁC CỔNG: Kiểm tra thanh lý (IsSold = 1 & quá Deadline2)
        IF EXISTS (
            SELECT 1 FROM TaiSan ts JOIN HopDong hd ON ts.MaHD = hd.MaHD 
            WHERE ts.MaHD = @MaHD AND ts.IsSold = 1 AND @TargetDate > hd.Deadline2
        )
        BEGIN
            SELECT N'THẤT BẠI' AS TrangThai, N'Tài sản đã thanh lý. Không thu tiền!' AS ThongBao;
            ROLLBACK TRANSACTION;
            RETURN;
        END

        -- 2. TÍNH TOÁN NỢ THỰC TẾ
        -- Tổng nợ gốc + lãi đến hiện tại (gọi hàm bạn đã viết)
        DECLARE @TongNoGocLai DECIMAL(18, 2) = dbo.fn_CalcMoneyContract(@MaHD, @TargetDate);
        -- Tiền đã trả từ trước (trước lần trả này)
        DECLARE @DaTraTruoc DECIMAL(18, 2) = ISNULL((SELECT SUM(SoTienTra) FROM LichSuThanhToan WHERE MaHD = @MaHD), 0);
        -- Dư nợ còn lại thực tế
        DECLARE @DuNoConLai DECIMAL(18, 2) = @TongNoGocLai - @DaTraTruoc;

        -- 3. GHI NHẬN NHẬT KÝ (LOGGING)
        INSERT INTO LichSuThanhToan (MaHD, NgayTra, SoTienTra, NguoiThu)
        VALUES (@MaHD, @TargetDate, @SoTienTra, @NguoiThu);

        -- 4. XỬ LÝ TẤT TOÁN HOẶC TRẢ GÓP
        DECLARE @DuNoSauThu DECIMAL(18, 2) = @DuNoConLai - @SoTienTra;

        IF @DuNoSauThu <= 0
        BEGIN
            UPDATE HopDong SET TrangThai = N'Đã thanh toán đủ' WHERE MaHD = @MaHD;
            UPDATE TaiSan SET TrangThaiTS = N'Đã trả khách' WHERE MaHD = @MaHD AND IsSold = 0;
            SELECT N'THÀNH CÔNG' AS KetQua, N'Đã tất toán. Giải phóng toàn bộ đồ.' AS ThongBao;
        END
        ELSE
        BEGIN
            UPDATE HopDong SET TrangThai = N'Đang trả góp' WHERE MaHD = @MaHD;
            SELECT N'THÀNH CÔNG' AS KetQua, N'Còn nợ: ' + FORMAT(@DuNoSauThu, 'N0') + ' VNĐ' AS ThongBao;
        END

        -- 5. DANH SÁCH GỢI Ý TRẢ ĐỒ (Giá trị tài sản còn lại >= Dư nợ còn lại)
        DECLARE @TongGiaTriTaiSan DECIMAL(18, 2) = (SELECT SUM(GiaTriDinhGia) FROM TaiSan WHERE MaHD = @MaHD AND IsSold = 0);

        SELECT 
            MaTS, TenTS, GiaTriDinhGia,
            N'Có thể trả lại cho khách' AS GoiY
        FROM TaiSan
        WHERE MaHD = @MaHD AND IsSold = 0
          AND (@TongGiaTriTaiSan - GiaTriDinhGia) >= @DuNoSauThu;

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        SELECT ERROR_MESSAGE() AS Error;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_KhachThanhToan_Chuan_V2]    Script Date: 5/12/2026 11:51:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_KhachThanhToan_Chuan_V2]
    @MaHD INT,
    @SoTienKhachDua DECIMAL(18, 2),
    @NguoiThu NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRANSACTION;
    BEGIN TRY
        DECLARE @TargetDate DATETIME = GETDATE();

        -- 1. Tính nợ thực tế hiện tại
        DECLARE @TongNoGocLai DECIMAL(18, 2) = dbo.fn_CalcMoneyContract(@MaHD, @TargetDate);
        DECLARE @DaTraTruoc DECIMAL(18, 2) = ISNULL((SELECT SUM(SoTienTra) FROM LichSuThanhToan WHERE MaHD = @MaHD), 0);
        DECLARE @DuNoThucTe DECIMAL(18, 2) = @TongNoGocLai - @DaTraTruoc;

        -- 2. Chống âm tiền: Nếu khách đưa 10tr mà chỉ nợ 8tr, thì chỉ thu 8tr
        DECLARE @SoTienThucThu DECIMAL(18, 2) = @SoTienKhachDua;
        IF @SoTienKhachDua > @DuNoThucTe SET @SoTienThucThu = @DuNoThucTe;
        
        -- Nếu đã trả hết nợ rồi thì không thu thêm nữa
        IF @DuNoThucTe <= 0
        BEGIN
            SELECT N'THÔNG BÁO' AS KetQua, N'Hợp đồng này đã hết nợ, không cần thu thêm.' AS ThongBao;
            ROLLBACK; RETURN;
        END

        -- 3. Ghi log (Chỉ ghi số tiền thực thu)
        INSERT INTO LichSuThanhToan (MaHD, NgayTra, SoTienTra, NguoiThu)
        VALUES (@MaHD, @TargetDate, @SoTienThucThu, @NguoiThu);

        -- 4. Cập nhật trạng thái
        IF (@SoTienThucThu >= @DuNoThucTe)
        BEGIN
            UPDATE HopDong SET TrangThai = N'Đã thanh toán đủ' WHERE MaHD = @MaHD;
            UPDATE TaiSan SET TrangThaiTS = N'Đã trả khách' WHERE MaHD = @MaHD AND IsSold = 0;
            SELECT N'THÀNH CÔNG' AS KetQua, N'Đã thu đủ nợ và tất toán hợp đồng.' AS ThongBao;
        END
        ELSE
        BEGIN
            UPDATE HopDong SET TrangThai = N'Đang trả góp' WHERE MaHD = @MaHD;
            SELECT N'THÀNH CÔNG' AS KetQua, N'Dư nợ còn lại: ' + FORMAT(@DuNoThucTe - @SoTienThucThu, 'N0') AS ThongBao;
        END

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        SELECT ERROR_MESSAGE() AS Error;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_TiepNhanHopDong]    Script Date: 5/12/2026 11:51:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_TiepNhanHopDong]
    @TenKH NVARCHAR(100),
    @SDT VARCHAR(15),
    @CCCD VARCHAR(20),
    @SoTienVay DECIMAL(18, 2),
    @Deadline1 DATETIME,
    @Deadline2 DATETIME,
    @TrangThai NVARCHAR(50),
    @DanhSachTaiSan NVARCHAR(MAX) -- Chuỗi JSON chứa danh sách tài sản
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;

        -- 1. Xử lý Khách hàng: Nếu CCCD chưa tồn tại thì thêm mới, nếu có rồi thì lấy MaKH
        DECLARE @MaKH INT;
        SELECT @MaKH = MaKH FROM KhachHang WHERE CCCD = @CCCD;

        IF @MaKH IS NULL
        BEGIN
            INSERT INTO KhachHang (TenKH, SDT, CCCD)
            VALUES (@TenKH, @SDT, @CCCD);
            SET @MaKH = SCOPE_IDENTITY();
        END

        -- 2. Thêm mới Hợp đồng
        DECLARE @MaHD INT;
        INSERT INTO HopDong (MaKH, NgayVay, SoTienVay, Deadline1, Deadline2, TrangThai)
        VALUES (@MaKH, GETDATE(), @SoTienVay, @Deadline1, @Deadline2, @TrangThai);
        SET @MaHD = SCOPE_IDENTITY();

        -- 3. Thêm danh sách Tài sản (Giải mã từ JSON)
        -- JSON mẫu: '[{"TenTS": "iPhone 15", "GiaTri": 20000000}, {"TenTS": "Vàng 9999", "GiaTri": 7000000}]'
        INSERT INTO TaiSan (MaHD, TenTS, GiaTriDinhGia, TrangThaiTS, IsSold)
        SELECT 
            @MaHD,
            JSON_VALUE(item.value, '$.TenTS'),
            CAST(JSON_VALUE(item.value, '$.GiaTri') AS DECIMAL(18,2)),
            N'Đang cầm cố', -- Mặc định trạng thái tài sản mới
            0               -- IsSold mặc định là false
        FROM OPENJSON(@DanhSachTaiSan) AS item;

        COMMIT TRANSACTION;
        PRINT N'Tiếp nhận hợp đồng và tài sản thành công!';
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        
        DECLARE @ErrorMsg NVARCHAR(4000) = ERROR_MESSAGE();
        RAISERROR(@ErrorMsg, 16, 1);
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_XuLyThanhToan]    Script Date: 5/12/2026 11:51:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_XuLyThanhToan]
    @MaHD INT,
    @SoTienKhachTra DECIMAL(18, 2),
    @NguoiThu NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @TargetDate DATETIME = GETDATE();
    DECLARE @TongNoHienTai DECIMAL(18, 2);
    DECLARE @TrangThai NVARCHAR(50);
    DECLARE @IsSold BIT;
    DECLARE @Deadline2 DATETIME;

    -- 1. Kiểm tra tình trạng thanh lý của các tài sản trong hợp đồng
    -- Giả sử nếu có bất kỳ tài sản nào trong HD đã bán (IsSold) thì coi như đã thanh lý
    SELECT TOP 1 @IsSold = IsSold, @Deadline2 = Deadline2 
    FROM TaiSan ts 
    JOIN HopDong hd ON ts.MaHD = hd.MaHD 
    WHERE hd.MaHD = @MaHD;

    IF (@TargetDate > @Deadline2 AND @IsSold = 1)
    BEGIN
        PRINT N'THÔNG BÁO: Tài sản đã bị thanh lý sau ngày ' + CONVERT(NVARCHAR, @Deadline2, 103);
        PRINT N'Hệ thống không thu tiền và không trả đồ.';
        RETURN;
    END

    -- 2. Tính toán nợ thực tế (Sử dụng hàm lãi đơn/lãi kép đã viết)
    -- Tổng nợ = (Tiền gốc + lãi) - (Tổng tiền đã trả trước đó)
    DECLARE @TongNoGocLai DECIMAL(18, 2) = dbo.fn_CalcMoneyContract(@MaHD, @TargetDate);
    DECLARE @DaTraTruocDo DECIMAL(18, 2) = ISNULL((SELECT SUM(SoTienTra) FROM LichSuThanhToan WHERE MaHD = @MaHD), 0);
    
    SET @TongNoHienTai = @TongNoGocLai - @DaTraTruocDo;

    -- 3. Ghi nhận lịch sử thanh toán (LOG)
    INSERT INTO LichSuThanhToan (MaHD, NgayTra, SoTienTra, NguoiThu)
    VALUES (@MaHD, @TargetDate, @SoTienKhachTra, @NguoiThu);

    -- 4. Cập nhật trạng thái Hợp đồng
    DECLARE @DuNoConLai DECIMAL(18, 2) = @TongNoHienTai - @SoTienKhachTra;

    IF @DuNoConLai <= 0
    BEGIN
        UPDATE HopDong SET TrangThai = N'Đã thanh toán đủ' WHERE MaHD = @MaHD;
        PRINT N'XÁC NHẬN: Khách đã thanh toán đủ. Thủ tục trả đồ hoàn tất.';
    END
    ELSE
    BEGIN
        UPDATE HopDong SET TrangThai = N'Đang trả góp' WHERE MaHD = @MaHD;
        PRINT N'XÁC NHẬN: Đã thu tiền. Dư nợ còn lại: ' + FORMAT(@DuNoConLai, 'N0') + ' VNĐ.';
    END

    -- 5. Đưa ra danh sách gợi ý trả lại tài sản
    -- Điều kiện: Giá trị tài sản >= Dư nợ còn lại 
    -- (Để tiệm vẫn giữ đủ tài sản đảm bảo cho số tiền còn nợ)
    PRINT N'--- DANH SÁCH TÀI SẢN CÓ THỂ TRẢ LẠI CHO KHÁCH ---';
    SELECT 
        MaTS, 
        TenTS, 
        GiaTriDinhGia,
        @DuNoConLai AS DuNoHienTai
    FROM TaiSan
    WHERE MaHD = @MaHD 
      AND GiaTriDinhGia >= @DuNoConLai -- Tài sản còn lại đủ để che phủ nợ
      AND IsSold = 0;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_XuLyThanhToan_Chuan]    Script Date: 5/12/2026 11:51:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_XuLyThanhToan_Chuan]
    @MaHD INT,
    @SoTienKhachTra DECIMAL(18, 2),
    @NguoiThu NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRANSACTION;
    BEGIN TRY
        -- 1. NGƯỜI GÁC CỔNG: Kiểm tra tài sản đã bị thanh lý (IsSold) chưa
        IF EXISTS (SELECT 1 FROM TaiSan WHERE MaHD = @MaHD AND IsSold = 1)
        BEGIN
            SELECT N'CẢNH BÁO' AS TrangThai, N'Tài sản đã thanh lý. Không thu tiền, không trả đồ!' AS ThongBao;
            ROLLBACK TRANSACTION;
            RETURN;
        END

        -- 2. TÍNH TOÁN NỢ THỰC TẾ
        DECLARE @NgayHienTai DATETIME = GETDATE();
        -- Tổng nợ gốc + lãi tính đến hiện tại
        DECLARE @TongNoGocLai DECIMAL(18, 2) = dbo.fn_CalcMoneyContract(@MaHD, @NgayHienTai);
        -- Tổng số tiền đã thanh toán trước lần này
        DECLARE @DaTraTruocDo DECIMAL(18, 2) = ISNULL((SELECT SUM(SoTienTra) FROM LichSuThanhToan WHERE MaHD = @MaHD), 0);
        -- Dư nợ còn lại thực tế trước khi thực hiện lần trả này
        DECLARE @DuNoHienTai DECIMAL(18, 2) = @TongNoGocLai - @DaTraTruocDo;

        -- 3. GHI NHẬN NHẬT KÝ (LOGGING)
        INSERT INTO LichSuThanhToan (MaHD, NgayTra, SoTienTra, NguoiThu)
        VALUES (@MaHD, @NgayHienTai, @SoTienKhachTra, @NguoiThu);

        -- 4. CẬP NHẬT TRẠNG THÁI HỢP ĐỒNG
        DECLARE @DuNoSauKhiTra DECIMAL(18, 2) = @DuNoHienTai - @SoTienKhachTra;

        IF @DuNoSauKhiTra <= 0
        BEGIN
            UPDATE HopDong SET TrangThai = N'Đã thanh toán đủ' WHERE MaHD = @MaHD;
            UPDATE TaiSan SET TrangThaiTS = N'Đã trả khách' WHERE MaHD = @MaHD AND IsSold = 0; -- Giải phóng tài sản
            SELECT N'THÀNH CÔNG' AS KetQua, N'Đã thanh toán đủ. Giải phóng toàn bộ tài sản.' AS ThongBao;
        END
        ELSE
        BEGIN
            UPDATE HopDong SET TrangThai = N'Đang trả góp' WHERE MaHD = @MaHD;
            SELECT N'THÀNH CÔNG' AS KetQua, N'Dư nợ còn lại: ' + FORMAT(@DuNoSauKhiTra, 'N0') + ' VNĐ' AS ThongBao;
        END

        -- 5. DANH SÁCH GỢI Ý TRẢ LẠI TÀI SẢN
        -- Điều kiện: (Tổng giá trị các tài sản hiện có) - (Giá trị món đồ định trả) >= Dư nợ còn lại
        DECLARE @TongGiaTriTaiSan DECIMAL(18, 2) = (SELECT SUM(GiaTriDinhGia) FROM TaiSan WHERE MaHD = @MaHD AND IsSold = 0);

        SELECT 
            MaTS, 
            TenTS, 
            GiaTriDinhGia,
            N'Gợi ý trả lại (An toàn)' AS GoiY
        FROM TaiSan
        WHERE MaHD = @MaHD 
          AND IsSold = 0 
          AND (@TongGiaTriTaiSan - GiaTriDinhGia) >= @DuNoSauKhiTra;

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        SELECT ERROR_MESSAGE() AS Error;
    END CATCH
END;
GO
USE [master]
GO
